.todo-list {
	overflow-y: auto;
	text-align: left;
	font-size: 60%;
	background-color: rgb(225, 248, 240);
	border: 1px solid rgb(33, 24, 117);
	justify-content: end;
}
.add-todo-container {
	height: 50px;
	width: 772px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.button {
	height: 50px;
	width: 150px;
	border-radius: 4px;
	font-size: 15px;
	background-color: rgb(108, 130, 230);
	border: 1px solid rgb(33, 24, 117);
	cursor: pointer;
	margin: 0 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button:active {
	background-color: blue;
	border: 3px solid rgb(33, 24, 117);
}
.checkbox-CP {
	width: 50px;
	height: 50px;
	margin: 0px 10px 0 10px;
}
.sort-button {
	font-size: 50%;
	font-weight: 500;
	font-family: inherit;
	border-radius: 4px;
	background-color: rgb(108, 130, 230);
	border: 1px solid rgb(33, 24, 117);
	cursor: pointer;
	margin: 10px 0px 20px 0px;
	width: 300px;
	align-self: flex-start;
	transform: translate(-239px);
	display: flex;
	justify-content: center;
	padding: 10px;
}
.sort-button:active {
	background-color: rgb(34, 189, 181);
	border: 3px solid rgb(33, 24, 117);
}
.button-todos {
	float: right;
	border-radius: 4px;
	border: 1px solid transparent;
	font-size: 60%;
	font-weight: 500;
	font-family: inherit;
	background-color: rgb(247, 248, 151);
	border: 1px solid rgb(33, 24, 117);
	cursor: pointer;
	margin: 0.5% auto;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.button-todos:active {
	background-color: rgb(224, 248, 5);
	border: 3px solid rgb(33, 24, 117);
}

.input-control-panel {
	display: flex;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid rgb(33, 24, 117);
	margin: auto;
	width: 567px;
	height: 30px;
}
.checkbox {
	width: 15px;
	height: 15px;
	margin: 0 10px 0 0;
}
.error-conteiner {
	height: 200px;
	width: 600px;
	background-color: lightskyblue;
	margin: 0 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.error-text {
	font-size: 60%;
	color: red;
	justify-content: center;
	align-items: center;
}

.button-error {
	height: 50px;
	width: 150px;
	border-radius: 4px;
	font-size: 15px;
	background-color: rgb(108, 130, 230);
	border: 1px solid rgb(33, 24, 117);
	color: black;
	cursor: pointer;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-error:active {
	background-color: blue;
	border: 3px solid rgb(33, 24, 117);
}
.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5 px solid indigo;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.search-container {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	justify-content: end;
	padding: 10px;
}
.input-search {
	padding: 8px;
	border-radius: 4px;
	border: 1px solid rgb(33, 24, 117);
	margin: auto;
	width: 757px;
	height: 30px;
}
.todo-list-container {
	display: grid;
	overflow-y: auto;
	text-align: left;
	font-size: 60%;
	background-color: rgb(225, 248, 240);
	border: 1px solid rgb(33, 24, 117);
	grid-template-columns: 1fr;
	width: 780px;
	border-radius: 4px;
}
.todo-item {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid rgb(33, 24, 117);
}
.text-cropping {
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.add-todo-container-search {
	grid-template-columns: 1fr auto;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	display: flex;
	gap: 5px;
}
:global .active {
	text-decoration: blue wavy underline;
	color: darkblue;
}
.task-page {
	margin: auto;
	float: left;
	display: flow;
	align-items: center;
	text-align: center;
}

.task-page-container {
	display: grid;
	font-size: 60%;
	background-color: rgb(225, 248, 240);
	border: 1px solid rgb(33, 24, 117);
	border-radius: 4px;
	width: 780px;
	height: 300px;
	gap: 5px;
}
.task-page-container-IB {
	background-color: rgb(225, 248, 240);
	justify-content: center;
	padding: 20px;
	display: flex;
	gap: 20px;
}
.button-todos-delete {
	float: right;
	border-radius: 4px;
	border: 1px solid transparent;
	font-size: 60%;
	font-weight: 500;
	font-family: inherit;
	background-color: rgb(245, 159, 159);
	border: 1px solid rgb(33, 24, 117);
	cursor: pointer;

	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.button-todos-delete:active {
	background-color: rgb(240, 11, 11);
	border: 3px solid rgb(33, 24, 117);
}
.button-todos-save {
	border-radius: 4px;
	border: 1px solid transparent;
	font-size: 60%;
	font-weight: 500;
	font-family: inherit;
	background-color: rgb(247, 248, 151);
	border: 1px solid rgb(33, 24, 117);
	cursor: pointer;

	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button-todos-save:active {
	background-color: rgb(224, 248, 5);
	border: 3px solid rgb(33, 24, 117);
}
.input-textarea {
	display: flex;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid rgb(33, 24, 117);
	margin: auto;
	width: 200px;
	height: 30px;
}
.input-save {
	display: flex;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid rgb(33, 24, 117);
	margin: auto;
	width: 200px;
	height: 30px;
}

.button-back {
	float: left;
	border-radius: 4px;
	font-size: 70%;
	font-weight: 500;
	font-family: inherit;
	background-color: rgb(108, 130, 230);
	border: 1px solid rgb(33, 24, 117);
	cursor: pointer;
	margin: 10px 0px 0px 10px;
	display: flex;
}
